.Game-button-container {
  display: flex;
}

.Game-win-modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: absolute;
}

.Game-win-text {
}