.Game-button-container {
  display: flex;
}

.Game-button {
  background-color: #9eacbc;
  color: #414e5e;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  flex: 1;
}

.Game-button:hover {
  background-color: #e5e8ec;
}

.Game-button:disabled {
  background-color: #414e5e;
  color: #9eacbc;
  cursor: default;
}