.PieceButton {
  background-color: #8697aa;
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 104px;
  height: 104px;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
  flex: 0 0 auto;
}

.PieceButton:hover {
  border-style: solid;
  border-color: #e5e8ec;
  border-width: 2px;
  padding: 0px;
}

.PieceButton:disabled {
  opacity: 0.25;
  border-style: none;
  padding: 2px;
  cursor: default;
}